/* 重置样式 */
@charset "utf-8";
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, fieldset, legend, button, input, textarea, th, td {
    margin: 0;
    padding: 0;
}
h4, h5, h6 { font-size: 100%; }
cite, em, i { font-style: normal; }
/* 重置列表元素 */
ul, ol { list-style: none; }
/* 重置文本格式元素 */
a {
    text-decoration:none;
    cursor:pointer;
    outline:none;
}
/* 重置表单元素 */
fieldset, img { border: none; }
img{vertical-align:middle;}
/* 重置表格元素 */
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*html,body {*/
/*width:100%;*/
/*height:100%;*/
/*}*/

/* ========================= 页面常用样式 CSS样式 =========================== */
.fl{
    float: left;
}
.fr{
    float: right;
}
.clearfix:after{
    display:block;
    clear:both;
    height:0;
    visibility:hidden;
    content:" ";
}
.clearfix{zoom:1;}
.clear{
    clear: both;
}
html{overflow-x:hidden;}
input,button{
    outline: none;
    border:none;
}
/*重置苹果默认按钮样式*/
input,textarea ,select{
    background: none;
    border:0;
    border-radius:0;
    -webkit-appearance:none;
    outline:none;
    -webkit-tap-highlight-color:transparent;
}
/*清除获取焦点时元素灰色背景及外边框*/
input:focus,select:focus{
    -webkit-tap-highlight-color:transparent;
    outline:none;
}
/*清除移动端点击元素灰色背景*/
*{-webkit-tap-highlight-color:rgba(255, 255, 255, 0);}
body{-webkit-text-size-adjust:none;}

/*设置默认字体 */
body{  font: 62.5% '微软雅黑','黑体', Arial, 'Helvetica Neue', 'Microsoft Jhenghei', Helvetica, sans-serif;  color: #101010; }
a{
    color: #333333;
}
input,textarea{
    font-family: "微软雅黑";
}
/*重置firefox按钮样式*/
button::-moz-focus-inner,
input::-moz-focus-inner{
    padding: 0;
    border:none;
}
*::-webkit-input-placeholder {
    color: #999;

}
textarea{
    resize: none;
}
[v-cloak] {
    display: none;
}
::-webkit-input-placeholder {
    color: #999;
}
::-moz-placeholder {
    color: #999;
}
:-ms-input-placeholder {
    color: #999;
}
