<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no, email=no"/>
    <title>认证信息</title>
    <link rel="stylesheet" href="../../static/css/libs/font/iconfont.css">
    <link rel="stylesheet" href="../../static/css/layouts/layouts.css"/>
    <link rel="stylesheet" href="../../static/css/common/footer.css"/>
    <link rel="stylesheet" href="../../static/css/certification.css"/>
    <script type="text/javascript" src="../../static/js/plugins/jquery.min.js"></script>
    <script type="text/javascript" src="../../static/js/plugins/rem.js"></script>
</head>
<body>
<div class="certification">
    <!--  头部   -->
    <div class="head_nav">
        <ul>
            <li>
                <a href="javascript:history.go(-1)">
                    <span class="iconfont icon-zuojiantou"></span>
                </a>
            </li>
            <li>认证信息</li>
            <li></li>
        </ul>
    </div>
   <div class="information">
       <div class="information_box">
           <div class="information_title">
               <p>基本信息</p>
           </div>
           <div class="information_content">
               <div class="article_box">
                   <div class="icon">
                       <span class="iconfont icon-ren"></span>
                   </div>
                   <div class="text">
                       <p>真实姓名</p>
                       <p>王志远</p>
                   </div>
               </div>
               <div class="article_box">
                   <div class="icon">
                       <span class="iconfont icon-shouji"></span>
                   </div>
                   <div class="text">
                       <p>手机号</p>
                       <p>188888888888</p>
                   </div>
               </div>
               <div class="article_box">
                   <div class="icon">
                       <span class="iconfont icon-credentials_icon"></span>
                   </div>
                   <div class="text">
                       <p>身份证号</p>
                       <p>21142219984165679</p>
                   </div>
               </div>
           </div>
       </div>
   </div>
</div>
</body>
</html>
