.foodDetails{
    width: 100%;
    margin-top: 1.5rem;
}
.food_form{
    width: 100%;
    padding-left: .4rem;
    box-sizing: border-box;
}
.form_box{
    width: 100%;
    display: flex;
    border-bottom: 1px #eee solid;
    padding: .4rem 0;
}
.form_box>p{
    width: 2rem;
    font-size: .4rem;
    font-weight: bold;
}
.choose>p>input{
    display: block;
    border-radius: .1rem;
    border: 1px solid #eeee;
    width: .5rem;
    height: .5rem;
    text-align: center;
}
.choose>p>input[type="checkbox"]:checked::before{
    content: "\2713";color:#e50232;
    font-weight: bold;
}
.choose{
    display: flex;
}
.choose>p{
    display: flex;
    margin-right: .2rem;
    font-size: .4rem;

}
.choose>p>span{

    display: block;
    margin-right: .2rem;
}
.choose>p>input{
    display: block;
    margin-top: .05rem;
}
