.foodDetails{
    width: 100%;
    margin-top: 1.5rem;
}
.food_form{
    width: 100%;
    padding-left: .4rem;
    box-sizing: border-box;
}
.form_box{
    width: 100%;
    display: flex;
    border-bottom: 1px #eee solid;
    padding: .4rem 0;
}
.form_box>p{
    width: 2rem;
    font-size: .4rem;
    font-weight: bold;
}
