<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no, email=no"/>
    <title>客户详情</title>
    <link rel="stylesheet" href="../../static/css/layouts/layouts.css" />
    <link rel="stylesheet" href="../../static/css/libs/font/iconfont.css">
    <link rel="stylesheet" href="../../static/css/common/footer.css">
    <link rel="stylesheet" href="../../static/css/clientDetails.css">
    <script type="text/javascript" src="../../static/js/plugins/jquery.min.js"></script>
    <script type="text/javascript" src="../../static/js/plugins/rem.js"></script>
</head>
<body>
<div class="clientDetails">
    <!--  头部   -->
    <div class="head_nav">
        <ul>
            <li>
                <a href="javascript:history.go(-1)">
                    <span class="iconfont icon-zuojiantou"></span>
                </a>
            </li>
            <li>客户详情</li>
            <li></li>
        </ul>
    </div>
    <!--  客户详情内容区域 -->
    <div class="clientDetails_box">
        <div class="information">
            <div class="name">
                <p> <span class="same_kind">姓名:</span> <span>东东</span></p>
                <p> <span class="same_kind">电话:</span> <span>1774777777677</span></p>
            </div>
        </div>
        <div class="with">
            <p>带看需求</p>
            <p>
                <a href="lookRecord/lookRecord.html">
                    添加带看
                </a>
            </p>
        </div>
        <div class="follow">
            <div class="follow_box">
                <div class="follow_box_left">
                    <p>
                        <span class="same_type">区域:</span>
                        <span>沈阳/铁西区/铁西广场</span>
                    </p>
                </div>
                <div class="follow_box_right">
                    <p>
                        <span class="same_type">门店:</span>
                        <span>曹妃甸</span>
                    </p>
                </div>
            </div>
            <div class="follow_box">
                <div class="follow_box_left">
                    <p>
                        <span class="same_type">备注:</span>
                        <span>哈哈哈</span>
                    </p>
                </div>
                <div class="follow_box_right">
                    <p>
                        <span class="same_type">时间:</span>
                        <span>2020-08-20 15:16:03</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="follow_btn">
            <a href="follow/follow.html">
                <ul>
                    <li>
                        <span class="same_type">跟进:</span>
                        <span>2020-8-19 18:19:03</span>
                    </li>
                    <li>
                        <span class="iconfont icon-iconfonti"></span>
                    </li>
                </ul>
            </a>
        </div>
        <div class="with">
            <p>意向房源</p>
            <p>
                <a href="likeHousing/likeHousing.html">
                    添加意向
                </a>
            </p>
        </div>
        <div class="information">
            <div class="name">
                <p> <span class="same_kind">维护人:</span> <span>咯咯</span></p>
                <p> <span class="same_kind">电话:</span> <span>1774777777677</span></p>
            </div>
        </div>
    </div>
</div>
</body>
</html>
