<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no, email=no"/>
    <title>楼盘详情</title>
    <link rel="stylesheet" href="../../static/css/libs/font/iconfont.css">
    <link rel="stylesheet" href="../../static/css/plugins/swiper.min.css">
    <link rel="stylesheet" href="../../static/css/layouts/layouts.css"/>
    <link rel="stylesheet" href="../../static/css/common/footer.css"/>
    <link rel="stylesheet" href="../../static/css/details.css"/>
    <script type="text/javascript" src="../../static/js/plugins/jquery.min.js"></script>
    <script type="text/javascript" src="../../static/js/plugins/swiper.min.js"></script>
    <script type="text/javascript" src="../../static/js/plugins/rem.js"></script>
</head>
<body>
<div class="details">
    <!--  头部   -->
    <div class="head_nav">
        <ul>
            <li>
                <a href="javascript:history.go(-1)">
                    <span class="iconfont icon-zuojiantou"></span>
                </a>
            </li>
            <li>楼盘详情</li>
            <li></li>
        </ul>
    </div>
    <!--  轮播图   -->
    <div class="swiper-container">
        <div class="swiper-wrapper  bander">
            <!--            <div class="swiper-slide">-->
            <!--               <img src="https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=3022534123,1626614339&fm=26&gp=0.jpg"-->
            <!--                                     alt="">-->
            <!--            </div>-->
        </div>
        <!--    分页器 -->
        <div class="swiper-pagination"></div>
    </div>
    <!--  总内容区域  -->
    <div class="details_content">
        <!--   标题     -->
        <div class="headlines">
            <div class="headlines_title">
                <p></p>
                <p class="building_name">柏林时代 ● 二期</p>
            </div>
            <div class="headlines_label">
                <div class="label_left">
                    <!--                    <p>合肥</p>-->
                    <!--                    <p>二居</p>-->
                    <!--                    <p>大三居</p>-->
                </div>
                <div class="label_right">
                    <p>开盘时间 : 待定</p>
                </div>
            </div>
            <div class="headlines_route">
                <p>经济示范区，S1号线</p>
            </div>
            <div class="headlines_price">
                <p>均价: 2000万</p>
                <p>佣金: 30万</p>
            </div>
        </div>
        <!--   定位    -->
        <div class="location">
            <a href="../map/map.html">
                <span class="iconfont icon-dingwei"></span>
                <span class="iconfont icon-iconfonti"></span>
            </a>
        </div>
        <!--   项目规则     -->
        <div class="project">
            <p class="project_title">项目规则</p>
            <div class="desc">
                <p class="branddesc">
                    1、清河半岛楼盘临蒲河景观廊道，属于蒲河南岸，临着地坤湖，小区整体联排别墅，低密园区，温泉入户，可以在家泡温泉，
                    平时可以在蒲河边散步，健身，有夜光跑道，适合改善和养老。小区有开发商自建的清河半岛温泉度假酒店，
                    方便业主泡温泉。小区配套完善，有自建的商业，有公交可以到达积家商场和在建的沈北万达商场，购物方便
                    户型在售183平和199平，联排，均价15000。
                    劣势：小区产权是40年
                    具体详情可点击左上方头像“电话咨询”或“在线咨询”
                </p>
            </div>
        </div>
        <!--    户型图    -->
        <div class="model_figure">
            <div class="headlines_title">
                <p></p>
                <p>户型图</p>
            </div>
            <div class="img_box">
                <!--                <div class="img_model">-->
                <!--                    <div class="image">-->
                <!--                        &lt;!&ndash;  轮播图   &ndash;&gt;-->
                <!--                        <div class="swiper-containerA">-->
                <!--                            <div class="swiper-wrapper">-->
                <!--                                <div class="swiper-slide banderA">-->
                <!--                                    <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1597323749267&di=65b3af8f40e528a3b85eb1cce95dd51b&imgtype=0&src=http%3A%2F%2Fpic1.cxtuku.com%2F00%2F13%2F72%2Fb69088835790.jpg"-->
                <!--                                         alt="">-->
                <!--                                </div>-->
                <!--                            </div>-->
                <!--                        </div>-->
                <!--                        <p>共1张</p>-->
                <!--                    </div>-->
                <!--                    <div class="texts">-->
                <!--                        <p>A户型</p>-->
                <!--                        <p>三室一厅</p>-->
                <!--                    </div>-->
                <!--                </div>-->
                <!--                <div class="img_model">-->
                <!--                    <div class="image">-->
                <!--                        &lt;!&ndash;  轮播图   &ndash;&gt;-->
                <!--                        <div class="swiper-containerB">-->
                <!--                            <div class="swiper-wrapper">-->
                <!--                                <div class="swiper-slide banderB">-->
                <!--                                    <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1597323749267&di=65b3af8f40e528a3b85eb1cce95dd51b&imgtype=0&src=http%3A%2F%2Fpic1.cxtuku.com%2F00%2F13%2F72%2Fb69088835790.jpg"-->
                <!--                                         alt="">-->
                <!--                                </div>-->
                <!--                            </div>-->
                <!--                        </div>-->
                <!--                        <p>共1张</p>-->
                <!--                    </div>-->
                <!--                    <div class="texts">-->
                <!--                        <p>A户型</p>-->
                <!--                        <p>三室一厅</p>-->
                <!--                    </div>-->
                <!--                </div>-->
            </div>
        </div>
        <!--    周边套装    -->
        <div class="suit">
            <div class="headlines_title">
                <p></p>
                <p>教育资源</p>
            </div>
            <div class="suit_content">
                <dl>
                    <dd>
                        <span class="iconfont icon-gongjiao"></span>
                        <span>交通设施</span>
                    </dd>
                    <dt>
                        <p class="traffic">
                            户型在售183平和199平，联排，均价15000。
                            具体详情可点击左上方头像“电话咨询”或“在线咨询”
                        </p>
                    </dt>
                </dl>
                <dl>
                    <dd>
                        <span class="iconfont icon-jiaoyu"></span>
                        <span>教育资源</span>
                    </dd>
                    <dt>
                        <p  class="education">
                            户型在售183平和199平，联排，均价15000。
                            具体详情可点击左上方头像“电话咨询”或“在线咨询”
                        </p>
                    </dt>
                </dl>
                <dl>
                    <dd>
                        <span class="iconfont icon-tubiao22"></span>
                        <span>医疗卫生</span>
                    </dd>
                    <dt>
                        <p class="medical_treatment">
                            户型在售183平和199平，联排，均价15000。
                            劣势：小区产权是40年
                            具体详情可点击左上方头像“电话咨询”或“在线咨询”
                        </p>
                    </dt>
                </dl>
                <dl>
                    <dd>
                        <span class="iconfont icon-gouwu"></span>
                        <span>购物消费</span>
                    </dd>
                    <dt>
                        <p class="shopping_consumption">
                            户型在售183平和199平，联排，均价15000。
                            具体详情可点击左上方头像“电话咨询”或“在线咨询”
                        </p>
                    </dt>
                </dl>
            </div>

        </div>
        <!--    楼盘详情信息    -->
        <div class="housing_details">
            <div class="headlines_title">
                <p></p>
                <p>楼盘详情信息</p>
            </div>
            <div class="housing_content">
                <div class="single">
                    <p>开盘时间 :</p>
                    <p class="opening_time">待定</p>
                </div>
                <div class="single">
                    <p>楼盘特色 :</p>
                    <p class="shrinkage">
                        这个楼盘真牛逼牛逼这个楼盘真牛逼牛逼这个楼盘真牛逼牛逼
                        这个楼盘真牛逼牛逼这个楼盘真牛逼牛逼这个楼盘真牛逼牛逼
                        这个楼盘真牛逼牛逼这个楼盘真牛逼牛逼这个楼盘真牛逼牛逼
                        这个楼盘真牛逼牛逼这个楼盘真牛逼牛逼这个楼盘真牛逼牛逼
                        这个楼盘真牛逼牛逼这个楼盘真牛逼牛逼这个楼盘真牛逼牛逼
                    </p>
                </div>
                <div class="single">
                    <p>产品类型 :</p>
                    <p class="tag">合肥，二居，大三居</p>
                </div>
                <div class="single">
                    <p>装修状况 :</p>
                    <p class="decoration_type_name">精装</p>
                </div>
                <div class="single">
                    <p>占地面积 :</p>
                    <p class="overall_floorage">275555.17m <sup>2</sup></p>
                </div>
                <div class="single">
                    <p>产权 :</p>
                    <p class="property_right">70年</p>
                </div>
                <div class="single">
                    <p>绿化率 :</p>
                    <p class="greening_rate">30</p>
                </div>
                <div class="single">
                    <p>容积率 :</p>
                    <p class="plot_ratio">1.5</p>
                </div>
                <div class="single">
                    <p>物业公司 :</p>
                    <p class="property_management_company">大连科技</p>
                </div>
                <div class="single">
                    <p>交付日期 :</p>
                    <p class="date_released">待定</p>
                </div>
            </div>
        </div>
    </div>
    <!--  底部栏 -->
    <div class="footer_fu">
        <div class="fu">
            <ul>
                <li>
                    <a href="#">
                        <span class="iconfont icon-weibiaoti-"></span>
                        <p>电话</p>
                    </a>
                </li>
                <li>
                    <a href="../collection/collection.html">
                        <span class="iconfont icon-shoucang2"></span>
                        <p>收藏</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="iconfont icon-fenxiang1"></span>
                        <p>分享</p>
                    </a>
                </li>
            </ul>
        </div>
        <div class="btn_fu">
            <a href="../../spread.html">
                立即推荐
            </a>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="../../static/js/common/alrte.js"></script>
<script type="text/javascript" src="../../static/js/common/api.js"></script>
<script type="text/javascript" src="../../static/js/common/localStorage.js"></script>
<script>
    mySwiper = new Swiper('.swiper-container', {
        // 轮播图的方向，也可以是vertical方向
        direction: 'horizontal',
        //播放速度
        loop: true,
        // 自动播放时间
        autoplay: 1000,
        // 播放的速度
        speed: 2000,
        observer: true,//修改swiper自己或子元素时，自动初始化swiper
        observeParents: true,//修改swiper的父元素时，自动初始化swiper
        // 如果需要分页器，即下面的小圆点
        pagination: '.swiper-pagination',
    });
    $(function () {
        imgApi = 'https://erp-report-shenyang.oss-cn-beijing.aliyuncs.com/';
        access_token = localStorageGet('access_token');
        //获取url中的参数
        function getUrlParam(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
            var r = window.location.search.substr(1).match(reg);  //匹配目标参数
            if (r != null) return unescape(r[2]);
            return null; //返回参数值
        }
        //接收URL中的参数id
        var id = getUrlParam('id');
        data = {
            id: id
        };
        $.ajax({
            url: api + "/erp/building_detail",
            type: "POST",
            dataType: "json",
            data: data,
            headers: {
                'access-token': access_token
            },
            beforeSend: function () {
                $('.logoding').show();
            },
            success: function (data) {
                if (data.code == 200) {
                    var swiperImg = data.data.building_img;
                    var modelImg = data.data.building_img;
                    var all = data.data.data;
                    var str1 = '';//轮播图
                    for (var i = 0; i < swiperImg.length; i++) {
                        str1 += `
                            <div class="swiper-slide">
                                <img src=${imgApi + swiperImg[i].url} alt="">
                            </div>
                        `
                    }
                    $('.bander').append(str1);
                    //详情数据
                    var str2 = '';//标签
                    var tag = all.building_type_name.split(',');
                    for (var j = 0; j < tag.length; j++) {
                        str2 += ` <p>${tag[j]}</p>`;
                    }
                    $('.label_left').append(str2);
                    $('.building_name').text(all.building_name);//楼盘名称
                    $('.label_right>p').text('开盘时间 :' + all.opening_time);//开盘时间
                    $('.headlines_route>p').text('经济示范区 ,' + all.building_selling_points);//经济示范区
                    $('.headlines_price>p:nth-child(1)').text('均价 :' + all.bottom_price);//均价
                    $('.headlines_price>p:nth-child(2)').text('佣金 :' + all.commission_begin + '-' + all.commission_end + '万');//佣金
                    $('.branddesc').text(all.project_rules);//项目规则
                    (function ($) {
                        $.fn.moreText = function (options) {
                            //定义默认对象
                            var defaults = {
                                maxLength: 50,
                                mainCell: ".branddesc",
                                openBtn: '显示全部',
                                closeBtn: '收起'
                            };
                            return this.each(function () {
                                var _this = $(this);
                                var opts = $.extend({}, defaults, options);
                                var maxLength = opts.maxLength;
                                var TextBox = $(opts.mainCell, _this);
                                var openBtn = opts.openBtn;
                                var closeBtn = opts.closeBtn;
                                var countText = TextBox.html();
                                var newHtml = '';
                                if (countText.length > maxLength) {
                                    newHtml = countText.substring(0, maxLength) + '...<span class="more" style="color: #5c90f6">' + openBtn + '</span>';
                                } else {
                                    newHtml = countText;
                                }
                                TextBox.html(newHtml);
                                TextBox.on("click", ".more", function () {
                                    if ($(this).text() == openBtn) {
                                        TextBox.html(countText + ' <span class="more" style="color: #5c90f6">' + closeBtn + '</span>');
                                    } else {
                                        TextBox.html(newHtml);
                                    }
                                })
                            })
                        }
                    })(jQuery);
                    $(function () {
                        //调用
                        $(".desc").moreText({
                            maxLength: 60, //默认最大显示字数，超过...
                            mainCell: '.branddesc', //文字容器
                        });
                    });
                    var str3 = '';//户型图
                    for (var k = 0; k < modelImg.length; k++) {
                        str3 += `
                               <div class="img_model">
                                <div class="image">
                                    <div class="swiper-containerA">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide banderA">
                                                <img src=${imgApi + modelImg[k].url} alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <p>共1张</p>
                                </div>
                                <div class="texts">
                                      <p>${modelImg[k].house_type_name}</p>
                                      <p>${modelImg[k].house_type_describe}</p>
                                </div>
                            </div>
                        `
                    }
                    $('.img_box').append(str3);
                    $('.traffic').text(all.traffic);//交通设施
                    $('.education').text(all.education);//教育资源
                    $('.medical_treatment').text(all.medical_treatment);//医疗卫生
                    $('.shopping_consumption').text(all.shopping_consumption);//购物消费
                    //楼盘详情信息
                    $('.opening_time').text(all.opening_time);//开盘时间
                    $('.shrinkage').text(all.building_features);//楼盘特色
                    (function ($) {
                        $.fn.moreText = function (options) {
                            //定义默认对象
                            var defaults = {
                                maxLength: 30,
                                mainCell: ".shrinkage",
                                openBtn: '显示全部',
                                closeBtn: '收起'
                            };
                            return this.each(function () {
                                var _this = $(this);
                                var opts = $.extend({}, defaults, options);
                                var maxLength = opts.maxLength;
                                var TextBox = $(opts.mainCell, _this);
                                var openBtn = opts.openBtn;
                                var closeBtn = opts.closeBtn;
                                var countText = TextBox.html();
                                var newHtml = '';
                                if (countText.length > maxLength) {
                                    newHtml = countText.substring(0, maxLength) + '...<span class="more" style="color: #5c90f6">' + openBtn + '</span>';
                                } else {
                                    newHtml = countText;
                                }
                                TextBox.html(newHtml);
                                TextBox.on("click", ".more", function () {
                                    if ($(this).text() == openBtn) {
                                        TextBox.html(countText + ' <span class="more" style="color: #5c90f6">' + closeBtn + '</span>');
                                    } else {
                                        TextBox.html(newHtml);
                                    }
                                })
                            })
                        }
                    })(jQuery);
                    $(function () {
                        //调用
                        $(".single:nth-child(2)").moreText({
                            maxLength: 50, //默认最大显示字数，超过...
                            mainCell: '.shrinkage', //文字容器
                        });
                    });
                    $('.tag').text(all.building_type_name);//标签
                    $('.decoration_type_name').text(all.decoration_type_name);//装修状况
                    $('.overall_floorage').html(all.overall_floorage+'m <sup>2</sup>');//占地面积
                    $('.property_right').text(all.property_right);//产权
                    $('.greening_rate').text(all.greening_rate);//绿化率
                    $('.plot_ratio').text(all.plot_ratio);//容积率
                    $('.property_management_company').text(all.property_management_company);//物业公司
                    $('.date_released').text(all.date_released);//交付日期
                    $('.logoding').hide();
                } else {
                    promptBox(data.msg);
                    $('.logoding').hide();
                }
            },
            error: function () {
                promptBox("出错啦...");
                $('.logoding').hide();
            },
        });
    })
</script>
</html>
