<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no, email=no"/>
    <title>楼盘详情</title>
    <link rel="stylesheet" href="../../static/css/libs/font/iconfont.css">
    <link rel="stylesheet" href="../../static/css/plugins/swiper.min.css">
    <link rel="stylesheet" href="../../static/css/layouts/layouts.css"/>
    <link rel="stylesheet" href="../../static/css/common/footer.css"/>
    <link rel="stylesheet" href="../../static/css/details.css"/>
    <script type="text/javascript" src="../../static/js/plugins/jquery.min.js"></script>
    <script type="text/javascript" src="../../static/js/plugins/swiper.min.js"></script>
    <script type="text/javascript" src="../../static/js/plugins/rem.js"></script>
</head>
<body>
<div class="details">
    <!--  头部   -->
    <div class="head_nav">
        <ul>
            <li>
                <a href="javascript:history.go(-1)">
                    <span class="iconfont icon-zuojiantou"></span>
                </a>
            </li>
            <li>楼盘详情</li>
            <li></li>
        </ul>
    </div>
    <!--  轮播图   -->
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=3022534123,1626614339&fm=26&gp=0.jpg"
                     alt="">
            </div>
            <div class="swiper-slide">
                <img src="https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=3039619587,1122480642&fm=26&gp=0.jpg"
                     alt="">
            </div>
            <div class="swiper-slide">
                <img src="https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=2956808783,1128526987&fm=26&gp=0.jpg"
                     alt="">
            </div>
        </div>
        <!-- 分页器 -->
        <div class="swiper-pagination"></div>
    </div>
    <!--  总内容区域  -->
    <div class="details_content">
        <!--   标题     -->
        <div class="headlines">
            <div class="headlines_title">
                <p></p>
                <p>柏林时代 ● 二期</p>
            </div>
            <div class="headlines_label">
                <div class="label_left">
                    <p>合肥</p>
                    <p>二居</p>
                    <p>大三居</p>
                </div>
                <div class="label_right">
                    <p>开盘时间 : 待定</p>
                </div>
            </div>
            <div class="headlines_route">
                <p>经济示范区，S1号线</p>
            </div>
            <div class="headlines_price">
                <p>均价: 2000万</p>
                <p>佣金: 30万</p>
            </div>
        </div>
        <!--   定位    -->
        <div class="location">
            <a href="../map/map.html">
                <span class="iconfont icon-dingwei"></span>
                <span class="iconfont icon-iconfonti"></span>
            </a>
        </div>
        <!--   项目规则     -->
        <div class="project">
            <p class="project_title">项目规则</p>
            <div class="desc">
                <p class="branddesc">
                    1、清河半岛楼盘临蒲河景观廊道，属于蒲河南岸，临着地坤湖，小区整体联排别墅，低密园区，温泉入户，可以在家泡温泉，
                    平时可以在蒲河边散步，健身，有夜光跑道，适合改善和养老。小区有开发商自建的清河半岛温泉度假酒店，
                    方便业主泡温泉。小区配套完善，有自建的商业，有公交可以到达积家商场和在建的沈北万达商场，购物方便
                    户型在售183平和199平，联排，均价15000。
                    劣势：小区产权是40年
                    具体详情可点击左上方头像“电话咨询”或“在线咨询”
                </p>
            </div>
        </div>
        <!--    户型图    -->
        <div class="model_figure">
            <div class="headlines_title">
                <p></p>
                <p>户型图</p>
            </div>
            <div class="img_box">
                <div class="img_model">
                    <div class="image">
                        <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1597323749267&di=65b3af8f40e528a3b85eb1cce95dd51b&imgtype=0&src=http%3A%2F%2Fpic1.cxtuku.com%2F00%2F13%2F72%2Fb69088835790.jpg" alt="">
                        <p>共1张</p>
                    </div>
                    <div class="texts">
                        <p>A户型</p>
                        <p>三室一厅</p>
                    </div>
                </div>
                <div class="img_model">
                    <div class="image">
                        <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1597323749267&di=65b3af8f40e528a3b85eb1cce95dd51b&imgtype=0&src=http%3A%2F%2Fpic1.cxtuku.com%2F00%2F13%2F72%2Fb69088835790.jpg" alt="">
                        <p>共1张</p>
                    </div>
                    <div class="texts">
                        <p>A户型</p>
                        <p>三室一厅</p>
                    </div>
                </div>
            </div>
        </div>
        <!--    周边套装    -->
        <div class="suit">
            <div class="headlines_title">
                <p></p>
                <p>教育资源</p>
            </div>
            <div class="suit_content">
                <dl>
                    <dd>
                        <span class="iconfont icon-gongjiao"></span>
                        <span>交通设施</span>
                    </dd>
                    <dt>
                        <p>
                            户型在售183平和199平，联排，均价15000。
                            具体详情可点击左上方头像“电话咨询”或“在线咨询”
                        </p>
                    </dt>
                </dl>
                <dl>
                    <dd>
                        <span class="iconfont icon-jiaoyu"></span>
                        <span>交通设施</span>
                    </dd>
                    <dt>
                        <p>
                            户型在售183平和199平，联排，均价15000。
                            具体详情可点击左上方头像“电话咨询”或“在线咨询”
                        </p>
                    </dt>
                </dl>
                <dl>
                    <dd>
                        <span class="iconfont icon-tubiao22"></span>
                        <span>医疗卫生</span>
                    </dd>
                    <dt>
                        <p>
                            户型在售183平和199平，联排，均价15000。
                            劣势：小区产权是40年
                            具体详情可点击左上方头像“电话咨询”或“在线咨询”
                        </p>
                    </dt>
                </dl>
                <dl>
                    <dd>
                        <span class="iconfont icon-gouwu"></span>
                        <span>购物消费</span>
                    </dd>
                    <dt>
                        <p>
                            户型在售183平和199平，联排，均价15000。
                            具体详情可点击左上方头像“电话咨询”或“在线咨询”
                        </p>
                    </dt>
                </dl>
            </div>

        </div>
        <!--    楼盘详情信息    -->
        <div class="housing_details">
            <div class="headlines_title">
                <p></p>
                <p>楼盘详情信息</p>
            </div>
            <div class="housing_content">
                <div class="single">
                    <p>开盘时间 :</p>
                    <p>待定</p>
                </div>
                <div class="single">
                    <p>楼盘特色 :</p>
                    <p class="shrinkage">
                        这个楼盘真牛逼牛逼这个楼盘真牛逼牛逼这个楼盘真牛逼牛逼
                        这个楼盘真牛逼牛逼这个楼盘真牛逼牛逼这个楼盘真牛逼牛逼
                        这个楼盘真牛逼牛逼这个楼盘真牛逼牛逼这个楼盘真牛逼牛逼
                        这个楼盘真牛逼牛逼这个楼盘真牛逼牛逼这个楼盘真牛逼牛逼
                        这个楼盘真牛逼牛逼这个楼盘真牛逼牛逼这个楼盘真牛逼牛逼
                    </p>
                </div>
                <div class="single">
                    <p>产品类型 :</p>
                    <p>合肥，二居，大三居</p>
                </div>
                <div class="single">
                    <p>装修状况 :</p>
                    <p>精装</p>
                </div>
                <div class="single">
                    <p>占地面积 :</p>
                    <p>275555.17m <sup>2</sup> </p>
                </div>
                <div class="single">
                    <p>产权 :</p>
                    <p>70年</p>
                </div>
                <div class="single">
                    <p>绿化率 :</p>
                    <p>30</p>
                </div>
                <div class="single">
                    <p>容积率 :</p>
                    <p>1.5</p>
                </div>
                <div class="single">
                    <p>物业公司 :</p>
                    <p>大连科技</p>
                </div>
                <div class="single">
                    <p>交付日期 :</p>
                    <p>待定</p>
                </div>
            </div>
        </div>
    </div>
    <!--  底部栏 -->
    <div class="footer_fu">
        <div class="fu">
            <ul>
                <li>
                    <a href="#">
                        <span class="iconfont icon-weibiaoti-"></span>
                        <p>电话</p>
                    </a>
                </li>
                <li>
                    <a href="../collection/collection.html">
                        <span class="iconfont icon-shoucang2"></span>
                        <p>收藏</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="iconfont icon-fenxiang1"></span>
                        <p>分享</p>
                    </a>
                </li>
            </ul>
        </div>
        <div class="btn_fu">
            <a href="../../spread.html">
                立即推荐
            </a>
        </div>
    </div>
</div>
</body>
<script>
    (function($){
        $.fn.moreText = function(options){
            //定义默认对象
            var defaults = {
                maxLength:50,
                mainCell:".branddesc",
                openBtn:'显示全部',
                closeBtn:'收起'
            };
            return this.each(function() {
                var _this = $(this);
                var opts = $.extend({},defaults,options);
                var maxLength = opts.maxLength;
                var TextBox = $(opts.mainCell,_this);
                var openBtn = opts.openBtn;
                var closeBtn = opts.closeBtn;
                var countText = TextBox.html();
                var newHtml = '';
                if(countText.length > maxLength){
                    newHtml = countText.substring(0,maxLength)+'...<span class="more" style="color: #5c90f6">'+openBtn+'</span>';
                }else{
                    newHtml = countText;
                }
                TextBox.html(newHtml);
                TextBox.on("click",".more",function(){
                    if($(this).text()==openBtn){
                        TextBox.html(countText+' <span class="more" style="color: #5c90f6">'+closeBtn+'</span>');
                    }else{
                        TextBox.html(newHtml);
                    }
                })
            })
        }
    })(jQuery);
    $(function(){
        //调用
        $(".desc").moreText({
            maxLength: 60, //默认最大显示字数，超过...
            mainCell: '.branddesc', //文字容器
        });
    });
    (function($){
        $.fn.moreText = function(options){
            //定义默认对象
            var defaults = {
                maxLength:30,
                mainCell:".shrinkage",
                openBtn:'显示全部',
                closeBtn:'收起'
            };
            return this.each(function() {
                var _this = $(this);
                var opts = $.extend({},defaults,options);
                var maxLength = opts.maxLength;
                var TextBox = $(opts.mainCell,_this);
                var openBtn = opts.openBtn;
                var closeBtn = opts.closeBtn;
                var countText = TextBox.html();
                var newHtml = '';
                if(countText.length > maxLength){
                    newHtml = countText.substring(0,maxLength)+'...<span class="more" style="color: #5c90f6">'+openBtn+'</span>';
                }else{
                    newHtml = countText;
                }
                TextBox.html(newHtml);
                TextBox.on("click",".more",function(){
                    if($(this).text()==openBtn){
                        TextBox.html(countText+' <span class="more" style="color: #5c90f6">'+closeBtn+'</span>');
                    }else{
                        TextBox.html(newHtml);
                    }
                })
            })
        }
    })(jQuery);
    $(function(){
        //调用
        $(".single:nth-child(2)").moreText({
            maxLength: 50, //默认最大显示字数，超过...
            mainCell: '.shrinkage', //文字容器
        });
    });
    var mySwiper = new Swiper('.swiper-container', {
        // 轮播图的方向，也可以是vertical方向
        direction:'horizontal',
        //播放速度
        loop: true,
        // 自动播放时间
        autoplay:1000,
        // 播放的速度
        speed:2000,
        // 如果需要分页器，即下面的小圆点
        pagination: '.swiper-pagination',

    })
</script>
</html>
