<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no, email=no"/>
    <title>带看记录</title>
    <link rel="stylesheet" href="../../../static/css/libs/font/iconfont.css">
    <link rel="stylesheet" href="../../../static/css/layouts/layouts.css"/>
    <link rel="stylesheet" href="../../../static/css/common/footer.css"/>
    <link rel="stylesheet" href="../../../static/css/common/logoding.css"/>
    <link rel="stylesheet" href="../../../static/css/lookRecord.css"/>
    <script type="text/javascript" src="../../../static/js/plugins/jquery.min.js"></script>
    <script type="text/javascript" src="../../../static/js/plugins/rem.js"></script>
</head>
<body>
<!-- 加载动画-->
<div class="logoding">
    <div class="mi">
        <div class="bar bar1"></div>
        <div class="bar bar2"></div>
        <div class="bar bar3"></div>
        <div class="bar bar4"></div>
        <div class="bar bar5"></div>
        <div class="bar bar6"></div>
    </div>
</div>
<div class="lookRecord">
    <!--  头部   -->
    <div class="head_nav">
        <ul>
            <li>
                <a href="javascript:history.go(-1)">
                    <span class="iconfont icon-zuojiantou"></span>
                </a>
            </li>
            <li>带看记录</li>
            <li>
                <a href="addLook/addLook.html">
                    添加
                </a>
            </li>
        </ul>
    </div>
    <!--  列表  -->
    <div class="tab">
        <div class="client_each_box">
            <div class="client_each_box_tile">
                <p>带看记录</p>
                <p>时间</p>
            </div>
            <div class="client_each">
<!--                <a href="lookDetails/lookDetails.html">-->
<!--                    <p>你好呀</p>-->
<!--                    <p>2020-80-20</p>-->
<!--                </a>-->
            </div>
        </div>
    </div>
    <!--  提示框区域   -->
    <div class="prompt_box">
        <p></p>
    </div>
</div>
</body>
<script type="text/javascript" src="../../../static/js/common/alrte.js"></script>
<script type="text/javascript" src="../../../static/js/common/api.js"></script>
<script type="text/javascript" src="../../../static/js/common/localStorage.js"></script>
<script type="text/javascript">
    access_token=localStorageGet('access_token');
   $(function () {
       var data={
           page:1,
           offset:999
       };
       $.ajax({
           url:api+"/erp/get_guide_look_list" ,
           type:"POST" ,
           dataType:"json",
           data:data,
           headers:{
               'access-token':access_token
           },
           beforeSend:function(){
               $('.logoding').show();
           },
           success:function (data) {
               if(data.code==200){
                    var all=data.data.data;
                    var str='';
                    var addStr='';
                    for(var i=0;i<all.length;i++){
                        str+=`
                        <a href=${"lookDetails/lookDetails.html?id="+all[i].id}>
                            <p>${all[i].guide_look_content}</p>
                            <p>${all[i].look_time}</p>
                        </a>
                        `;
                    }
                   $('.client_each').html(str);
                   $('.logoding').hide();
               }else {
                   $('.logoding').hide();
               }
           },
           error:function () {
               promptBox("出错啦...");
               $('.logoding').hide();
           },
       });
   })
</script>
</html>
