<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no, email=no"/>
    <title>带看记录</title>
    <link rel="stylesheet" href="../../../static/css/libs/font/iconfont.css">
    <link rel="stylesheet" href="../../../static/css/layouts/layouts.css"/>
    <link rel="stylesheet" href="../../../static/css/common/footer.css"/>
    <link rel="stylesheet" href="../../../static/css/lookRecord.css"/>
    <script type="text/javascript" src="../../../static/js/plugins/jquery.min.js"></script>
    <script type="text/javascript" src="../../../static/js/plugins/rem.js"></script>
</head>
<body>
<div class="lookRecord">
    <!--  头部   -->
    <div class="head_nav">
        <ul>
            <li>
                <a href="javascript:history.go(-1)">
                    <span class="iconfont icon-zuojiantou"></span>
                </a>
            </li>
            <li>带看记录</li>
            <li>
                <a href="addLook/addLook.html">
                    添加
                </a>
            </li>
        </ul>
    </div>
    <!--  列表  -->
    <div class="tab">
        <div class="client_each_box">
            <div class="client_each_box_tile">
                <p>带看记录</p>
                <p>时间</p>
            </div>
            <div class="client_each">
                <a href="lookDetails/lookDetails.html">
                    <p>你好呀</p>
                    <p>2020-80-20</p>
                </a>
            </div>
            <div class="client_each">
                <a href="#">
                    <p>你好呀</p>
                    <p>2020-80-20</p>
                </a>
            </div>
            <div class="client_each">
                <a href="#">
                    <p>你好呀</p>
                    <p>2020-80-20</p>
                </a>
            </div>
            <div class="client_each">
                <a href="#">
                    <p>你好呀</p>
                    <p>2020-80-20</p>
                </a>
            </div>
            <div class="client_each">
                <a href="#">
                    <p>你好呀</p>
                    <p>2020-80-20</p>
                </a>
            </div>
            <div class="client_each">
                <a href="#">
                    <p>恒大冰泉</p>
                    <p>2020-80-20</p>
                </a>
            </div>
            <div class="client_each">
                <a href="#">
                    <p>你好呀</p>
                    <p>2020-80-20</p>
                </a>
            </div>
            <div class="client_each">
                <a href="#">
                    <p>你好呀</p>
                    <p>2020-80-20</p>
                </a>
            </div>
            <div class="client_each">
                <a href="#">
                    <p>你好呀</p>
                    <p>2020-80-20</p>
                </a>
            </div>
            <div class="client_each">
                <a href="#">
                    <p>你好呀</p>
                    <p>2020-80-20</p>
                </a>
            </div>
            <div class="client_each">
                <a href="#">
                    <p>你好呀</p>
                    <p>2020-80-20</p>
                </a>
            </div>
            <div class="client_each">
                <a href="#">
                    <p>你好呀</p>
                    <p>2020-80-20</p>
                </a>
            </div>
            <div class="client_each">
                <a href="#">
                    <p>你好呀</p>
                    <p>2020-80-20</p>
                </a>
            </div>
            <div class="client_each">
                <a href="#">
                    <p>你好呀</p>
                    <p>2020-80-20</p>
                </a>
            </div>
            <div class="client_each">
                <a href="#">
                    <p>你好呀</p>
                    <p>2020-80-20</p>
                </a>
            </div>
            <div class="client_each">
                <a href="#">
                    <p>你好呀</p>
                    <p>2020-80-20</p>
                </a>
            </div>
        </div>
    </div>

</div>
</body>
<script type="text/javascript">

</script>
</html>
