<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no, email=no"/>
    <title>意向楼盘详情</title>
    <link rel="stylesheet" href="../../../static/css/libs/font/iconfont.css">
    <link rel="stylesheet" href="../../../static/css/layouts/layouts.css"/>
    <link rel="stylesheet" href="../../../static/css/common/footer.css"/>
    <link rel="stylesheet" href="../../../static/css/common/logoding.css">
    <link rel="stylesheet" href="../../../static/css/foodDetails.css"/>
    <script type="text/javascript" src="../../../static/js/plugins/jquery.min.js"></script>
    <script type="text/javascript" src="../../../static/js/plugins/rem.js"></script>
</head>
<body>
<!-- 加载动画-->
<div class="logoding">
    <div class="mi">
        <div class="bar bar1"></div>
        <div class="bar bar2"></div>
        <div class="bar bar3"></div>
        <div class="bar bar4"></div>
        <div class="bar bar5"></div>
        <div class="bar bar6"></div>
    </div>
</div>
<div class="foodDetails">
    <!--  头部   -->
    <div class="head_nav">
        <ul>
            <li>
                <a href="javascript:history.go(-1)">
                    <span class="iconfont icon-zuojiantou"></span>
                </a>
            </li>
            <li>意向楼盘详情</li>
            <li class="del">删除</li>
            <li style="display: none" class="upd">修改</li>
        </ul>
    </div>
    <!--   表单区域     -->
    <div class="food_form">
        <div class="form_box">
            <p>区域:</p>
            <input type="text" class="area_name"/>
        </div>
        <div class="form_box">
            <p>维护人:</p>
            <input type="text" class="client_name"/>
        </div>
        <div class="form_box">
            <p>客户名称:</p>
            <input type="text" class="user_name"/>
        </div>
        <div class="form_box">
            <p>意向楼盘:</p>
            <input type="text" class="building_name"/>
        </div>
        <div class="form_box">
            <p>客户状态:</p>
            <div class="choose">
                <p>
                    <span>已访问</span>
                    <input type="checkbox" class="access" value="20">
                </p>
                <p>
                    <span>已签约</span>
                    <input type="checkbox" class="sign" value="30">
                </p>
            </div>
        </div>
    </div>
    <!--  提示框区域   -->
    <div class="prompt_box">
        <p></p>
    </div>
</div>
</body>
<script type="text/javascript" src="../../../static/js/common/alrte.js"></script>
<script type="text/javascript" src="../../../static/js/common/api.js"></script>
<script type="text/javascript" src="../../../static/js/common/localStorage.js"></script>
<script type="text/javascript">
    $(function () {
        access_token = localStorageGet('access_token');

        //获取url中的参数
        function getUrlParam(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
            var r = window.location.search.substr(1).match(reg);  //匹配目标参数
            if (r != null) return decodeURI(r[2]);
            return null; //返回参数值
        }

        //接收URL中的参数id
        var id = getUrlParam('id');
        area_name = getUrlParam('area_name');
        client_name = getUrlParam('client_name');
        user_name = getUrlParam('user_name');
        data = {
            id: id
        };
        updData = {
            id: id,
            client_id: '',
            user_id: '',
            building_id: '',
            visit_type: '',
            province_id: '',
            city_id: '',
            area_id: '',
        };
        $.ajax({
            url: api + "/api/intention_detail",
            type: "POST",
            dataType: "json",
            data: data,
            headers: {
                'access-token': access_token
            },
            beforeSend: function () {
                $('.logoding').show();
            },
            success: function (data) {
                if (data.code == 200) {
                    var all = data.data;
                    updData.client_id = all.client_id;
                    updData.user_id = all.user_id;
                    updData.building_id = all.building_id;
                    updData.province_id = all.province_id;
                    updData.city_id = all.city_id;
                    updData.area_id = all.area_id;
                    $('.area_name').val(area_name);
                    $('.client_name').val(client_name);
                    $('.user_name').val(user_name);
                    $('.building_name').val(all.building_name);
                    $('.logoding').hide();
                    if (all.visit_type == 20) {
                        $(".access").attr("checked", true)
                    }
                    if(all.visit_type == 30){
                        $(".sign").attr("checked", true)
                    }
                } else {
                    $('.logoding').hide();
                }
            },
            error: function () {
                promptBox("出错啦...");
                $('.logoding').hide();
            },
        });
        $('.del').click(function () { //删除
            $.ajax({
                url: api + "/api/intention_del",
                type: "POST",
                dataType: "json",
                data: data,
                headers: {
                    'access-token': access_token
                },
                beforeSend: function () {
                    $('.logoding').show();
                },
                success: function (data) {
                    if (data.code == '100006') {
                        $('.logoding').hide();
                        promptBox('删除成功');
                        window.location.href = '../fond.html';
                    } else {
                        $('.logoding').hide();
                        promptBox('删除失败');
                    }
                },
                error: function () {
                    promptBox("出错啦...");
                    $('.logoding').hide();
                },
            });
        });
        $('.upd').click(function () { //修改
            $.ajax({
                url: api + "/api/intention_edit",
                type: "POST",
                dataType: "json",
                data: updData,
                headers: {
                    'access-token': access_token
                },
                beforeSend: function () {
                    $('.logoding').show();
                },
                success: function (data) {
                    if (data.code == '200003') {
                        $('.logoding').hide();
                        promptBox('修改成功');
                        window.location.href = '../fond.html';
                    } else {
                        $('.logoding').hide();
                        promptBox('修改失败');
                    }
                },
                error: function () {
                    promptBox("出错啦...");
                    $('.logoding').hide();
                },
            });
        });
        $(function () { //全选按钮处理
            $('.access').click(function () {
                var flag = $(".access").prop("checked");
                if (flag) {
                    $('.del').hide();
                    $('.upd').show();
                    $(".access").attr("checked", true)
                } else {
                    $('.del').show();
                    $('.upd').hide();
                    $(".access").attr("checked", false)
                }
                $(".sign").prop("checked", false);
                var access = $(".access").val();
                updData.visit_type = access
            });
            $('.sign').click(function () {
                var flag = $(".sign").prop("checked");
                if (flag) {
                    $('.del').hide();
                    $('.upd').show();
                    $(".sign").attr("checked", true)
                } else {
                    $('.del').show();
                    $('.upd').hide();
                    $(".sign").attr("checked", false)
                }
                $(".access").prop("checked", false);
                var sign = $(".sign").val();
                updData.visit_type = sign
            });
        });
    });
</script>
</html>
