<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no, email=no"/>
    <title>意向楼盘详情</title>
    <link rel="stylesheet" href="../../../static/css/libs/font/iconfont.css">
    <link rel="stylesheet" href="../../../static/css/layouts/layouts.css"/>
    <link rel="stylesheet" href="../../../static/css/common/footer.css"/>
    <link rel="stylesheet" href="../../../static/css/foodDetails.css"/>
    <script type="text/javascript" src="../../../static/js/plugins/jquery.min.js"></script>
    <script type="text/javascript" src="../../../static/js/plugins/rem.js"></script>
</head>
<body>
<div class="foodDetails">
    <!--  头部   -->
    <div class="head_nav">
        <ul>
            <li>
                <a href="javascript:history.go(-1)">
                    <span class="iconfont icon-zuojiantou"></span>
                </a>
            </li>
            <li>意向楼盘详情</li>
            <li>删除</li>
        </ul>
    </div>
    <!--   表单区域     -->
    <div class="food_form">
        <div class="form_box">
            <p>区域:</p>
            <input type="text" value="北京/北京市/朝阳区"/>
        </div>
        <div class="form_box">
            <p>维护人:</p>
            <input type="text" value="王文月"/>
        </div>
        <div class="form_box">
            <p>客户名称:</p>
            <input type="text" value="赵晓磊"/>
        </div>
        <div class="form_box">
            <p>意向楼盘:</p>
            <input type="text" value="月亮湾"/>
        </div>
    </div>
</div>
</body>
<script type="text/javascript">

</script>

</html>
