<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no, email=no"/>
    <title>意向楼盘</title>
    <link rel="stylesheet" href="../../../static/css/libs/font/iconfont.css">
    <link rel="stylesheet" href="../../../static/css/layouts/layouts.css"/>
    <link rel="stylesheet" href="../../../static/css/common/footer.css"/>
    <link rel="stylesheet" href="../../../static/css/housing.css"/>
    <script type="text/javascript" src="../../../static/js/plugins/jquery.min.js"></script>
    <script type="text/javascript" src="../../../static/js/plugins/rem.js"></script>
</head>
<body>
<div class="housing">
    <!--  头部   -->
    <div class="head_nav">
        <ul>
            <li>
                <a href="javascript:history.go(-1)">
                    <span class="iconfont icon-zuojiantou"></span>
                </a>
            </li>
            <li>意向楼盘</li>
            <li></li>
        </ul>
    </div>
    <!--  搜索  -->
    <div class="search_area">
        <div class="search_area_left">
            <span class="iconfont icon-sousuo"></span>
            <input type="text" placeholder="请输入楼盘">
        </div>
        <div class="search_area_right">
            <button>搜索</button>
        </div>
    </div>
    <!--  列表  -->
    <div class="tabList">
        <div class="tabList_box">
            <div class="tabList_content">
                <div class="tabList_top">
                    <p>泰坦尼克号</p>
                    <p>42万</p>
                </div>
                <div class="tabList_bottom">
                    <p>2020-04-29 12:27:22</p>
                    <p>45m<sup>2</sup></p>
                </div>
            </div>
        </div>
        <div class="tabList_box">
            <div class="tabList_content">
                <div class="tabList_top">
                    <p>泰坦尼克号</p>
                    <p>42万</p>
                </div>
                <div class="tabList_bottom">
                    <p>2020-04-29 12:27:22</p>
                    <p>45m<sup>2</sup></p>
                </div>
            </div>
        </div>
        <div class="tabList_box">
            <div class="tabList_content">
                <div class="tabList_top">
                    <p>泰坦尼克号</p>
                    <p>42万</p>
                </div>
                <div class="tabList_bottom">
                    <p>2020-04-29 12:27:22</p>
                    <p>45m<sup>2</sup></p>
                </div>
            </div>
        </div>
        <div class="tabList_box">
            <div class="tabList_content">
                <div class="tabList_top">
                    <p>泰坦尼克号</p>
                    <p>42万</p>
                </div>
                <div class="tabList_bottom">
                    <p>2020-04-29 12:27:22</p>
                    <p>45m<sup>2</sup></p>
                </div>
            </div>
        </div>
        <div class="tabList_box">
            <div class="tabList_content">
                <div class="tabList_top">
                    <p>泰坦尼克号</p>
                    <p>42万</p>
                </div>
                <div class="tabList_bottom">
                    <p>2020-04-29 12:27:22</p>
                    <p>45m<sup>2</sup></p>
                </div>
            </div>
        </div>
        <div class="tabList_box">
            <div class="tabList_content">
                <div class="tabList_top">
                    <p>泰坦尼克号</p>
                    <p>42万</p>
                </div>
                <div class="tabList_bottom">
                    <p>2020-04-29 12:27:22</p>
                    <p>45m<sup>2</sup></p>
                </div>
            </div>
        </div>
        <div class="tabList_box">
            <div class="tabList_content">
                <div class="tabList_top">
                    <p>泰坦尼克号</p>
                    <p>42万</p>
                </div>
                <div class="tabList_bottom">
                    <p>2020-04-29 12:27:22</p>
                    <p>45m<sup>2</sup></p>
                </div>
            </div>
        </div>
        <div class="tabList_box">
            <div class="tabList_content">
                <div class="tabList_top">
                    <p>泰坦尼克号</p>
                    <p>42万</p>
                </div>
                <div class="tabList_bottom">
                    <p>2020-04-29 12:27:22</p>
                    <p>45m<sup>2</sup></p>
                </div>
            </div>
        </div>
        <div class="tabList_box">
            <div class="tabList_content">
                <div class="tabList_top">
                    <p>泰坦尼克号</p>
                    <p>42万</p>
                </div>
                <div class="tabList_bottom">
                    <p>2020-04-29 12:27:22</p>
                    <p>45m<sup>2</sup></p>
                </div>
            </div>
        </div>
        <div class="tabList_box">
            <div class="tabList_content">
                <div class="tabList_top">
                    <p>泰坦尼克号</p>
                    <p>42万</p>
                </div>
                <div class="tabList_bottom">
                    <p>2020-04-29 12:27:22</p>
                    <p>45m<sup>2</sup></p>
                </div>
            </div>
        </div>
        <div class="tabList_box">
            <div class="tabList_content">
                <div class="tabList_top">
                    <p>泰坦尼克号</p>
                    <p>42万</p>
                </div>
                <div class="tabList_bottom">
                    <p>2020-04-29 12:27:22</p>
                    <p>45m<sup>2</sup></p>
                </div>
            </div>
        </div>
    </div>
    <!--  提示框  -->
    <div class="promptBack">
        <div class="promptContent">
            <div class="prompt_top">
                <p>标题</p>
                <p>泰坦尼克号泰坦尼克号泰坦尼克号</p>
            </div>
            <div class="prompt_bottom">
                <p>
                    <a href="../../../../details/details.html">
                        房源详情
                    </a>
                </p>
                <p class="confirm">确认</p>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript">
    $(function () {
        $('.tabList_box',this).click(function () {
            $('.promptBack').show()
        });
        $('.confirm').click(function () {
            $('.promptBack').hide()
        });
        $('.promptBack').click(function () {
            $('.promptBack').hide()
        })
    })
</script>
</html>
